body {
  font-size: 50px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #b38937;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 100px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #0b4a78;
  font-size: 3.0em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: -60px;
  margin-bottom: 0;
  line-height: .75;
}
/* END HEADER */

/** CONTAINER **/
#home-titles {
  color: #fff;
}

#our-menu h1{
  font-family: 'Lora', serif;
  color: #0b4a78;
  font-size: 1.0em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  position: relative;
  margin-top: -50px;
  padding-bottom: 30px;
  line-height: .75;
}

#chicken-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  background-color: #e6bd6e;
  overflow: scroll;
}

#chicken-tile span, #specials-tile span, #map-tile span {
  font-family: 'Lora', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.0em;
  text-transform: uppercase;
  color: #0b4a78;
  opacity: .8;
}

#chicken-tile div, #specials-tile div, #map-tile div {
  font-family: 'Lora', sans-serif;
  position: absolute;
  top: 70px;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 0.22em;
  text-transform: uppercase;
  color: #0b4a78;
  opacity: .9;
  overflow: scroll;
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  /* End Header */

  /* Home Page */

  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */

  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 50px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    margin-top: -30px;
    padding-top: 10px;
    font-size: 8vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 0.5em;
    text-align: center;
    background-color: #f2d88f;
    border: 1px solid #e6bd6e;
    color: #0b4a78;
    font-family: 'Lora', serif;
  }



  /* End Header */

  /* Home Page */

}
